# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.*

# Testing
coverage/
**/coverage/

# Next.js & NestJS Build Artifacts
.next/
**/.next/
dist/
**/dist/
out/
**/out/
build/
**/build/

# Misc
.DS_Store
*.pem
*.log
*.tsbuildinfo
next-env.d.ts

# Env
.env.local
.env.*.local
